<?xml version="1.0"?>
 <!--
 Denne config-fil gør at vi fortæller serveren, at den skal huske også at loade lokale json-filer som indeholder hardcodet json-data.
 Pr. default er statiske (lokale) json-filer ikke slået til. Dermed læses vores fil ikke. Dette dokument aktiverer læsningen af filen.

(
    Følgende uddybende forklaring er fundet på nettet:
    https://docs.microsoft.com/en-us/iis/configuration/system.webserver/
    https://docs.microsoft.com/en-us/iis/configuration/system.webserver/staticcontent/
    https://docs.microsoft.com/en-us/iis/configuration/system.webserver/staticcontent/mimemap
)
   Configuration -> Fortæller serveren at det er en config-fil.
   System.webServer -> Elementet specificerer root-elementet for mange af side-niveau og applikations-niveau konfigurations-indstillingerne
        for Internet Information Services (IIS) 7 i ApplicationHost-config-filen.
        Elementet indeholder konfigurations-elementer der definerer indstillingerne der anvendes af web-server-engine og moduler.

   StaticContent -> Elementet konfigurerer flere instillinger relateret til processerings-forespørgelser for statiske filer i IIS 7.

   MimeMap -> Elementet toilføjer en unik MIME-type til samlingen af statiske indholds-typer. Hvert <mimeMap>-enhed består af to dele:
        En unik filnavn-extension der specificeres af fileExtension attributten (F.eks. ".txt", ".png", ".json")
        En MIME-type for vores filnavn-extension som specificeres af mimeType-attributten (F.eks. "text/plain", "image/jpg")
-->
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
     </staticContent>
    </system.webServer>
</configuration>